.galery_wraper {
  display: flex;
  margin-top: 5%;
  text-decoration: none;
  width: 100%;
  height: 100vh;
}

.galery_main {
  position: relative;
  display: flex;
  background-color: var(--bg_secondary_dark);
  width: 40vw;
  height: 80vh;
}


.galery_main h2 {
  vertical-align: bottom;
  top: 15%;
  left: -10%;
  font-size: 40px;
  transform: rotate(-90deg);
  letter-spacing: 10px;
  font-weight: 700;
  color: #3C3C3C;
  position: absolute;
}

.galery_main ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
  list-style-type: none;
}


.galery_main ul li a {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.galery_main ul li a:hover {
  color:var(--bg_adds);
}

.galery {
  display: flex;
  width: 100vw;
  height: 80vh;
}

.galery_page_1,
.galery_page_2,
.galery_page_3,
.galery_page_4 {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  align-content: space-around;
  z-index: 1;
}

.galery_page_1 a,
.galery_page_2 a,
.galery_page_3 a,
.galery_page_4 a {
  display: flex;
  width: 33%;
  height: 33%;
  background-color: rgba(187, 187, 187, 0.8);
  transition: 0.2s linear;
}

.galery_page_1 a img,
.galery_page_2 a img,
.galery_page_3 a img,
.galery_page_4 a img {
    width: 100%;
  height: 100%;
  object-fit: scale-down;
  pointer-events: auto;
  cursor: pointer;

  }

  .makePictureBigger
 {
  transform: scale(3);
  }


/************************/
/******menu galeria******/
/************************/

/* This hides all pages */
.ggalery {
  display: none;
}

/* This displays the first page */
.ggalery_default {
  display: flex;
}

/* This displays the page corresponding to the one you clicked on */
:target {
  display: flex;
}

/* This hides the default page when another page is clicked */
:target~.ggalery_default {
  display: none;
}


@media all and (min-width: 100px) and (max-width: 300px)  {
  .galery_wraper {
    width: 100%;
    height: auto;
    flex-direction: column;

  }

  .galery_main {
    width: 100%;
    height: 200px;
  }

  .galery_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .galery_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 40%;
    font-size: 30px;
    transform: rotate(0deg);
    letter-spacing: 5px;
  }


  .galery_main ul {
    top: 40%;
    left: 5%;
  }


  .galery_main ul li a {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .galery {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
  }

  .galery_page_1,
  .galery_page_2,
  .galery_page_3,
  .galery_page_4 {
    flex-wrap: nowrap;
    margin-top: 10px;
    flex-grow: 0;
    flex-direction: column;

  }

  .galery_page_1 a,
  .galery_page_2 a,
  .galery_page_3 a,
  .galery_page_4 a {
    display: flex;
    width: 80vw;
    height: 20vh;
    margin-top: 5px;
    background-color: #BBBBBB;
  }

  .makePictureBigger
 {
  transform: scale(2);
  }
}

@media all and (min-width: 301px) and (max-width: 590px)  {

  .galery_wraper {
    width: 100%;
    height: auto;
    flex-direction: column;

  }

  .galery_main {
    width: 100%;
    height: 200px;
  }

  .galery_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .galery_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 50%;
    font-size: 35px;
    transform: rotate(0deg);
    letter-spacing: 5px;
  }


  .galery_main ul {
    top: 40%;
    left: 5%;
  }


  .galery_main ul li a {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .galery {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galery_page_1,
  .galery_page_2,
  .galery_page_3,
  .galery_page_4 {
    flex-wrap: nowrap;
    margin-top: 10px;
    flex-grow: 0;
    flex-direction: column;

  }

  .galery_page_1 a,
  .galery_page_2 a,
  .galery_page_3 a,
  .galery_page_4 a {
    display: flex;
    width: 80vw;
    height: 20vh;
    margin-top: 5px;
    background-color: #BBBBBB;
  }

  .makePictureBigger
 {
  transform: scale(2);
  }
}

@media all and (min-width: 591px) and (max-width: 785px) {


  .galery_wraper {
    width: 100%;
    height: auto;
    flex-direction: column;

  }

  .galery_main {
    width: 100%;
    height: 200px;
  }

  .galery_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .galery_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 50%;
    font-size: 40px;
    transform: rotate(0deg);
    letter-spacing: 5px;
  }


  .galery_main ul {
    top: 40%;
    left: 5%;
  }


  .galery_main ul li a {
    display: flex;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
  }


  .galery {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galery_page_1,
  .galery_page_2,
  .galery_page_3,
  .galery_page_4 {
    flex-wrap: nowrap;
    margin-top: 10px;
    flex-grow: 0;
    flex-direction: column;

  }

  .galery_page_1 a,
  .galery_page_2 a,
  .galery_page_3 a,
  .galery_page_4 a {
    display: flex;
    width: 80vw;
    height: 300px;
    margin-top: 5px;
    background-color: #BBBBBB;
  }

  .makePictureBigger
 {
  transform: scale(2);
  }
}

@media all and (min-width: 786px) and (max-width: 1069px) {

  .galery_main h2 {
    top: 15%;
    left: -20%;
    font-size: 35px;
  }

  .galery_main ul {
    top: 40%;
    left: 10%;
  }

  .galery_main ul li a {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media all and (min-width: 1070px) and (max-width: 1215px) {

  .galery_main h2 {
    top: 15%;
    left: -20%;
  }

  .galery_main ul {
    top: 40%;
    left: 10%;
  }

  .galery_main ul li a {
    margin-bottom: 10px;
    font-size: 18px;
  }

}

@media all and (min-width: 1216px) and (max-width: 1407px) {

  .galery_main h2 {
    top: 15%;
    left: -10%;
  }

  .galery_main ul {
    top: 40%;
    left: 10%;
  }

  .galery_main ul li a {
    margin-bottom: 10px;
    font-size: 18px;
  }

}

@media all and (min-width: 1408px) and (max-width: 1570px) {
 .galery_main h2 {
    top: 15%;
    left: -10%;
  }

  .galery_main ul {
    top: 40%;
    left: 10%;
  }

  .galery_main ul li a {
    margin-bottom: 10px;
    font-size: 20px;
  }

}

