.serwises {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: auto;
  background-color: var(--bg_secondary_dark);
}

.serwises_wraper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.serwises_main {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  background-color: var(--bg_secondary_dark);
  width: 100%;
  height: auto;
}



.serwises_main a {
  position: relative;
  display: flex;
  flex-basis: 11.11%;
  justify-content: space-between;
  flex-grow: 0;
  text-decoration: none;
}

.serwises_main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

}

.serwises_main h2 {
  display: none;
}

.serwises_main p {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  align-items: center;
  letter-spacing: 0px;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.801);
  color: rgb(255, 255, 255);
  font-weight: 400;
}


.serwises_main a:hover p {
  width: 100%;
  height: 101%;
  font-size: 12px;
}

.serwises {
  display: flex;
  width: auto;
  height: auto;
  padding-bottom: 50px;
}

.serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 16px;
  text-transform: none;
  justify-content: space-around;
  align-content: space-around;
  text-align: justify;
}

.serwises_page_1 h1,
.serwises_page_2 h1,
.serwises_page_3 h1,
.serwises_page_4 h1,
.serwises_page_5 h1,
.serwises_page_6 h1,
.serwises_page_7 h1,
.serwises_page_8 h1,
.serwises_page_9 h1 {
  margin-top: 10px;
  height: 5vh;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
  display: flex;
  font-size: 14px;
  width: 90%;
  height: auto;
  text-align: left;
  overflow: hidden;
  z-index: 80;
  flex-direction: column;
  text-align: justify;
  color: white;
  border-bottom: 1px solid white;
}

.serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
  color: var(--bg_adds);
  margin-bottom: 4px;
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 10px;
}

.serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
  color: var(--bg_adds);
  text-align: end;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}


/************************/
/******menu usługi*******/
/************************/

/* This hides all pages */
.sgalery {
  display: none;
}

/* This displays the first page */
.sgalery_default {
  display: flex;
}

/* This displays the page corresponding to the one you clicked on */
:target {
  display: flex;
}

/* This hides the default page when another page is clicked */
:target~.sgalery_default {
  display: none;
}

@media all and (min-width: 100px) and (max-width: 300px) {

  .serwises_wraper {
    margin-top: 15px;
    width: 100%;;
    height: auto;
    flex-direction: column;
    
  }

  .serwises {
    width: 100%;
    height: auto;
    background-color: var(--bg_primary);
  }

  .serwises_main {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .serwises_main a {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
    width: 100%;

    flex-grow: 1;
  }

  .serwises_main a img {
    width: 20%;
    height: 8vh;
    object-fit: cover;
    cursor: pointer;
  
  }

  .serwises_main p {
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    width: 80vw;
    height: 8vh;
    align-items: center;
    letter-spacing: 3px;
    justify-content: center;
    transform: translate(0%, 0%);
    font-size: 12px;
    z-index: 100;
    background-color: var(--bg_secondary_dark);
    color: rgb(255, 255, 255);
    font-weight: 400;
  }

  .serwises_main a:hover p {
    width: 80vw;
    height: 8vh;
    font-size: 12px;
    background-color: var(--bg_adds70);
  }
 
  .serwises_main a:hover img {
    width: 20%;
    height: 8vh;
    opacity: 70%;
  }

  .serwises_main a:hover a {
    display: none;
  }


  .serwises_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .serwises_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 50%;
    font-size: 40px;
    transform: rotate(0deg);
    letter-spacing: 5px;
    
  }

  .serwises_main ul {
    flex-direction: column;
    top: 35%;
    left: 5%;
  }

  .serwises_main ul li a {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
    font-size: 8px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    align-self: center;
    
  }

  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 12px;
    width: 80%;
    height: auto;
    padding: 5px;
    line-height: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
    font-size: 12px;
    margin-bottom: 4px;
    width: 100%;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 12px;
    margin-top: 3px;
  }
}

@media all and (min-width: 301px) and (max-width: 590px) {

  .serwises_wraper {
    margin-top: 15px;
    width: 100%;;
    height: auto;
    flex-direction: column;
    
  }

  .serwises {
    width: 100%;
    height: auto;
    background-color: var(--bg_primary);
  }

  .serwises_main {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .serwises_main a {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
    width: 100%;

    flex-grow: 1;
  }

  .serwises_main a img {
    width: 20%;
    height: 8vh;
    object-fit: cover;
    cursor: pointer;
  
  }

  .serwises_main p {
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    width: 80vw;
    height: 8vh;
    align-items: center;
    letter-spacing: 3px;
    justify-content: center;
    transform: translate(0%, 0%);
    font-size: 12px;
    z-index: 100;
    background-color: var(--bg_secondary_dark);
    color: rgb(255, 255, 255);
    font-weight: 400;
  }

  .serwises_main a:hover p {
    width: 80vw;
    height: 8vh;
    font-size: 12px;
    background-color: var(--bg_adds70);
  }
 
  .serwises_main a:hover img {
    width: 20%;
    height: 8vh;
    opacity: 70%;
  }

  .serwises_main a:hover a {
    display: none;
  }


  .serwises_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .serwises_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 50%;
    font-size: 40px;
    transform: rotate(0deg);
    letter-spacing: 5px;
    
  }

  .serwises_main ul {
    flex-direction: column;
    top: 35%;
    left: 5%;
  }

  .serwises_main ul li a {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
    font-size: 8px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    align-self: center;
    
  }

  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 12px;
    width: 80%;
    height: auto;
    padding: 5px;
    line-height: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
    font-size: 12px;
    margin-bottom: 4px;
    width: 100%;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 12px;
    margin-top: 3px;
  }

}

@media all and (min-width: 591px) and (max-width: 785px) {


  .serwises_wraper {
    margin-top: 15px;
    width: 100%;;
    height: auto;
    flex-direction: column;
    
  }

  .serwises {
    width: 100%;
    height: auto;
    background-color: var(--bg_primary);
  }

  .serwises_main {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .serwises_main a {
    position: relative;
    flex-direction: row-reverse;
    display: flex;
    width: 100%;

    flex-grow: 1;
  }

  .serwises_main a img {
    width: 20%;
    height: 8vh;
    object-fit: cover;
    cursor: pointer;
  
  }

  .serwises_main p {
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    width: 80vw;
    height: 8vh;
    align-items: center;
    letter-spacing: 3px;
    justify-content: center;
    transform: translate(0%, 0%);
    font-size: 12px;
    z-index: 100;
    background-color: var(--bg_secondary_dark);
    color: rgb(255, 255, 255);
    font-weight: 400;
  }

  .serwises_main a:hover p {
    width: 80vw;
    height: 8vh;
    font-size: 12px;
    background-color: var(--bg_adds70);
  }
 
  .serwises_main a:hover img {
    width: 20%;
    height: 8vh;
    opacity: 70%;
  }

  .serwises_main a:hover a {
    display: none;
  }


  .serwises_main h1 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .serwises_main h2 {
    vertical-align: initial;
    top: 10%;
    left: 50%;
    font-size: 40px;
    transform: rotate(0deg);
    letter-spacing: 5px;
    
  }

  .serwises_main ul {
    flex-direction: column;
    top: 35%;
    left: 5%;
  }

  .serwises_main ul li a {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
    font-size: 8px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    align-self: center;
    
  }

  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 12px;
    width: 80%;
    height: auto;
    padding: 5px;
    line-height: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
    font-size: 12px;
    margin-bottom: 4px;
    width: 100%;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 12px;
    margin-top: 3px;
  }
}

@media all and (min-width: 786px) and (max-width: 1069px) {

  .serwises_main h2 {
    display: none;
  }

  .serwises_main a:hover p {
    width: 100%;
    height: 101%;
    font-size: 9px;
  }

  .serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
    font-size: 12px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {
    font-size: 12px;
  }

  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 12px;
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
    font-size: 14px;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 14px;
  }

}

@media all and (min-width: 1070px) and (max-width: 1215px) {

  .serwises_main h2 {
    display: none;
  }

  
  .serwises_main a:hover p {
    width: 100%;
    height: 101%;
    font-size: 12px;
  }



  .serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {

    font-size: 13px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {
    font-size: 13px;

  }

  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 13px;
  
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
  
    font-size: 15px;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 15px;
  }

}

@media all and (min-width: 1216px) and (max-width: 1407px) {

  .serwises_main h2 {
    display: none;
  }

  .serwises_main a:hover p {
    width: 100%;
    height: 101%;
    font-size: 14px;
  }

.serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {

    font-size: 14px;
  }



  .serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 14px;
  }

  .serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1{

    font-size: 16px;
  }

  .serwises_page_1 span i,
.serwises_page_2 span i,
.serwises_page_3 span i,
.serwises_page_4 span i,
.serwises_page_5 span i,
.serwises_page_6 span i,
.serwises_page_7 span i,
.serwises_page_8 span i,
.serwises_page_9 span i {
    font-size: 16px;
  }

}

@media all and (min-width: 1408px) and (max-width: 1570px) {

  .serwises_main h2 {
    display: none;
  }

  
  .serwises_main a:hover p {
    width: 100%;
    height: 101%;
    font-size: 14px;
  }

.serwises_page_1,
.serwises_page_2,
.serwises_page_3,
.serwises_page_4,
.serwises_page_5,
.serwises_page_6,
.serwises_page_7,
.serwises_page_8,
.serwises_page_9 {
    font-size: 14px;
  }

  .serwises_page_1 h1,
  .serwises_page_2 h1,
  .serwises_page_3 h1,
  .serwises_page_4 h1,
  .serwises_page_5 h1,
  .serwises_page_6 h1,
  .serwises_page_7 h1,
  .serwises_page_8 h1,
  .serwises_page_9 h1 {

    font-size: 14px;

  }

.serwises_page_1 span,
.serwises_page_2 span,
.serwises_page_3 span,
.serwises_page_4 span,
.serwises_page_5 span,
.serwises_page_6 span,
.serwises_page_7 span,
.serwises_page_8 span,
.serwises_page_9 span {
    font-size: 14px;
    height: auto;
  }

.serwises_page_1 span h1,
.serwises_page_2 span h1,
.serwises_page_3 span h1,
.serwises_page_4 span h1,
.serwises_page_5 span h1,
.serwises_page_6 span h1,
.serwises_page_7 span h1,
.serwises_page_8 span h1,
.serwises_page_9 span h1 {
    font-size: 16px;
  }

  .serwises_page_1 span i,
  .serwises_page_2 span i,
  .serwises_page_3 span i,
  .serwises_page_4 span i,
  .serwises_page_5 span i,
  .serwises_page_6 span i,
  .serwises_page_7 span i,
  .serwises_page_8 span i,
  .serwises_page_9 span i {
    font-size: 16px;
  }

}